<%=t :greeting %>

<p><label><%=t :label_wtp_setting %>: </label>
<%= text_field_tag 'settings[wtp_command]', @settings['wtp_command'], :size => 100 %><br />
<em><%=t :description_wtp_setting %></em>
</p>
